vg66tftfsa3 'aw\2wzs1ds\@import url(reset.css);
@import url(header.css);
:root{
    --laranja: #eb9b00;
    --cor-de-fundo: #ebecee;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #59788e 165.37%);

}
body{
    background-color: var(--cor-de-fundo);
    font-family: "Poppins", sans-serif;
}